.navbar {
	margin-bottom: 0;
}

.jumbotron {
	background: #27A967;
	text-align: center;
}

.btn-primary {
	color: white;
	background-color: transparent;
	border-color: white;
}

.btn-primary:hover {
	color: #27A967;
	background-color: white;
	border-color: white;
}